pkgbase = wechat-universal
	pkgdesc = WeChat (Universal) with namespace sandboxing
	pkgver = 4.0.0.23
	pkgrel = 1
	url = https://weixin.qq.com
	arch = x86_64
	arch = aarch64
	arch = loong64
	license = proprietary
	license = GPLv3
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = util-linux
	depends = flatpak-xdg-utils
	depends = libxcomposite
	depends = libxkbcommon-x11
	depends = libxrandr
	depends = lsb-release
	depends = mesa
	depends = nss
	depends = openssl-1.1
	depends = pango
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = xdg-desktop-portal
	depends = xdg-user-dirs
	provides = wechat-universal
	conflicts = wechat-universal-bwrap
	conflicts = wechat-universal-privileged
	noextract = com.tencent.wechat_4.0.0.23_amd64.deb
	noextract = com.tencent.wechat_4.0.0.23_arm64.deb
	noextract = com.tencent.wechat_4.0.0.23_loongarch64.deb
	options = !strip
	options = !debug
	options = emptydirs
	source = wechat-universal.sh
	source = wechat-universal.desktop
	source = libuosdevicea.c
	source = libuosdevicea.Makefile
	sha256sums = a21bc4c34f4b289e13b586732e684fd4ca1157afd3cdc89edf7e130f918fc026
	sha256sums = b783b7b0035efb5a0fcb4ddba6446f645a4911e4a9f71475e408a5c87ef04c30
	sha256sums = fc3ce9eb8dee3ee149233ebdb844d3733b2b2a8664422d068cf39b7fb08138f8
	sha256sums = f05f6f907898740dab9833c1762e56dbc521db3c612dd86d2e2cd4b81eb257bf
	source_x86_64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_amd64.deb
	sha256sums_x86_64 = 437826a3cdef25d763f69e29ae10479b5e8b2ba080b56de5b5de63e05a8f7203
	source_aarch64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_arm64.deb
	sha256sums_aarch64 = a08b0f6c4930d7ecd7a73bd701511d9b29178dbe73ba51c04f09eb9e1b3190f7
	source_loong64 = https://home-store-packages.uniontech.com/appstore/pool/appstore/c/com.tencent.wechat/com.tencent.wechat_4.0.0.23_loongarch64.deb
	sha256sums_loong64 = 82b8fdc861d965a836d25e6cf0881c927bd4bf3d1f04791a9202ac39efab8662

pkgname = wechat-universal
